/*General*/
.footer{
    padding: 1.2em;
    background-color: #232F3E;
    margin-top: 2px;
}

.main-footer{
    text-align: right;
    color: rgb(240, 219, 213);
}

.main-footer > span{
    font-size: calc(0.8em + 0.6vw);
}

/* /General*/

/*Deals Page Styling*/
.deals{
    display: grid;
    margin-top: 1.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    margin-inline: 8%;
}

.deals > div{
    background: rgb(240, 219, 213);
    padding: 2px;
}

.deals > .card > .card-title {
    font-size: calc(0.85em + 0.6vw);
}

.deals > .card > .card-text {
    font-size: calc(0.65em + 0.5vw);
}


.pagination-box{
    border-top: 2px solid #ddd;
    text-align: center;
    padding: 10px 14px !important;
    margin-top: 12px;
    border-bottom: 2px solid #ddd;
}

.pagination{
    display: inline-block;
}

.pagination > a {
    color: #5680E9;
    padding: 5px 10px;
    text-decoration: none !important;
    transition: background-color .4s;
    border: 1px solid #ddd;
}

.pagination > a.selected {
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
    cursor: context-menu;
}

.pagination > a.unselectable {
    cursor: context-menu;
    background-color: rgb(150, 187, 207);
}

.pagination a:hover:not(.selected .unselectable) {
    background-color: rgb(240, 219, 213);
}


@media(max-width:1000px){
    .deals{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        margin-top: 1.2em;
    }
}

@media(max-width:768px){
    .deals{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        margin-inline: 10%;
        margin-top: 1em;
    }
}

@media(max-width:376px){
    .deals{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        margin-inline: 10%;
        margin-top: 1em;
    }
}
/* /Deals Page Styling*/


/*Chats Page*/
.chats-container{
    display: grid;
    margin-top: 1.5em;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
    height: 88vh;
}

.chats-container > div{
    border-right: solid;
    border-width: 1px;
}

.chats-container > div > div.col-header{
    text-align: center;
}

.chats-container > div > div.col-header > h5{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px
}

/*Chats list of chats column*/
.chats-container > div.chats{
    display: grid;
    grid-template-rows: 1fr 16fr;
    overflow-y: auto;
}

.chats-container > div.chats > div.chats-list{
    display:grid;
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 10px;
    overflow-y: scroll;
}

.chats-container > div.chats > div.chats-list > div.chat-thumbnail{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    height: 5em;
    border: 1px solid;
    margin-left: 3px;
    cursor: pointer;
    background-color: rgb(240, 219, 213);
}

.chats-container > div.chats > div.chats-list
> div.chat-thumbnail > div.thumbnail-body > h5{
    font-size: calc(0.8vw + 0.7em);
    font-weight: bold;
}

.chats-container > div.chats > div.chats-list
> div.chat-thumbnail > div.thumbnail-body > p{
    font-size: calc(0.5vw + 0.5em);
    font-style: italic;
}

.chats-container > div.chats > div.chats-list > div.chat-thumbnail > img{
    border-radius: 50%;
    height: 4.38em;
}

.chats-container > div.parameters{
    display: grid;
    grid-template-rows: 1fr 16fr;
}
/*!!Chats list of chats column!!*/

/*Conversation column*/

.chats-container > div.conversation{
    display: grid;
    grid-template-rows: 1fr 16fr 4fr;
    overflow-y: auto;
}

.chats-container > div.conversation > div.messages{
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    overflow-y: scroll;
}

.chats-container > div.conversation > div.messages > div{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-gap: 5px;
    height: 7em;
    margin-left: 3px;
}

.chats-container > div.conversation > div.messages > div.own-message >img{
    grid-column-start: 5;
    grid-column-end: 5;
    height: 4em;
}

.chats-container > div.conversation > div.messages > div.message >img{
    height: 4em;
}

div.messages div.own-message > div.message-bubble {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    padding-left: 7px;
    height: 5em;
    position: relative;
    background: bisque;
    border-radius: .4em;
}

div.messages div.own-message > div.message-bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    border: 12px solid transparent;
    border-left-color: bisque;
    border-right: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-right: -12px;
}

div.messages div.message > div.message-bubble{
    grid-column-start: 2;
    grid-column-end: 4;
    padding-left: 7px;
    height: 5em;
    position: relative;
    background: rgb(240, 219, 213);
    border-radius: .4em;
}


div.messages div.message > div.message-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 20%;
    border: 12px solid transparent;
    border-right-color: rgb(240, 219, 213);
    border-left: 0;
    border-bottom: 0;
    margin-top: 0;
    margin-left: -12px;
}


div.messages div.message-bubble{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

div.messages .message-author{
    margin-right: 5px;
    font-style: italic;
    font-size: calc(0.4em + 0.5vw);
    font-weight: bold;
}

div.messages .message-date{
    margin-right: 5px;
    font-style: italic;
    font-size: calc(0.35em + 0.5vw);
    font-weight: lighter;
}

div.messages .message-text{
    font-size: calc(0.5em + 0.5vw);
    font-weight: normal;
}
div.messages div.message .message-author{
    text-align: left;
}

div.messages div.own-message .message-author{
    text-align: right;
}

div.messages div.message .message-date{
    text-align: right;
}

div.messages div.own-message .message-date{
    text-align: left;
}
/*input field*/
.chats-container > div.conversation > div.message-send{
    border-top: solid;
    border-width: 1px;
    padding: 5px;
}

.chats-container > div.conversation > div.message-send > textarea{
    width: 100%
}

.chats-container > div.conversation > div.message-send > input.send-btn{
    margin-left: 90%;
    border-radius: 20%;
}
/*!!Conversation column*/

/*Deal Creation Page Style*/
.dealFormContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 89vh;
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
}

.dealFormContainer div{
    margin: 10px;
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
}
.dealFormContainer
> div.dealFields{
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
}

.dealFormContainer
> div.itemContainer {
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
}

.dealFormContainer
> div.itemContainer
> div.newItemContainer{
    border-right: 1px solid;
}

.dealFormContainer
> div.itemContainer
> div.newItemContainer
> div.newItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
}

.dealFormContainer
> div.itemContainer
> div.dealItems table{
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
    height: 80%;
    width: 90%;
}

.dealFormContainer
> div.itemContainer
> div.dealItems
> div.tableWrapper{
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
    overflow-y: auto;
    height: 40vh;
}


.dealFormContainer
> div.lowerContainer {
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dealFormContainer
> div.lowerContainer
> div.wantedCategories {
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
}

.dealFormContainer
> div.lowerContainer
> div.categoryTableContainer {
    border: 1px solid;
    border-top: 0;
    overflow-y: auto;
    color: rgb(240, 219, 213);
    background-color: rgb(150, 187, 207);
}

.dealFormContainer
> div.lowerContainer
> div.tableWrapper {
    overflow-y: scroll;
}

/*!chats*/

/*cycle.jsp column*/

.cycleContainer{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-auto-rows: auto;
    grid-template-rows: auto;

}

.cycleContainer
>div.cycles{
    grid-column-start: 2;
    height: 90vh;
    width: 50vw;
}

.cycleContainer
> div.cycles > div.deal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(232, 192, 189, 0.73);
    margin-inline: 10%;
    width: 80%;
    height: 40%;
    border-radius: 10%;
}

.cycleContainer
> div.cycles > div.dealArrow > img{
    width: 20%;
    margin-inline: 40%;
}

.cycleContainer div.dealUpArrow > img{
    height: 30%;
    width: 30%;
    margin-inline: 90%;
}

.cycleContainer
> div.cycles > div.button{
    margin-inline: 40%;
}

.cycleContainer
> div.cycles > div.deal > img {
    float: right;
    margin: 10px;
    max-height: 90%;
    max-width: 90%;
    border-radius: 10%;
}

.cycleContainer
> div.cycles > div.deal > div.info{
    margin: 5%;
}

.cycleContainer
> div.cycles > div.deal > div.info .link{
    margin: 0;
    border: 0;
    background: none;
    overflow: visible;
    color: #5680E9;
    cursor: pointer;
}

/*!!cycle.jsp column*/

/*user-details.jsp*/

.user-details-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.user-details-wrapper > div{
    grid-gap: 10px;
}

.user-details-wrapper > div.details > .image-div > img {
    max-width: 100px;
    margin: 5px;
}

.user-details-wrapper > .deals-column > p.side-text {
    font-style: italic;
    font-size: 0.5em;
}

.user-details-wrapper > .details > .user-info{
    padding: 5px;
    color: rgb(240, 219, 213);
    background-color: rgb(74, 149, 189);
}

.user-details-wrapper > .details > .image-div{
    min-height: 50%;
}

.user-details-wrapper> .deals-column{
    padding: 5px;
    color: rgb(123, 88, 199);
    background-color: #84CEEB;
}


.user-details-wrapper > label.completed{
    color: lightgreen;
    size: 5px;
}

.user-details-wrapper > label.ongoing{
    color:rgb(228, 153, 153);
    size: 5px;
}

/*end of user-details*/

/*cycles.jsp*/

.cycles-wrapper{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

.cycles-wrapper > .cycle-div{
    color: rgb(123, 88, 199);
    background-color: #84CEEB;
    padding: 10px;
}

/*end of cycles.jsp*/

/*deal.jsp*/
.deal-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.deal-wrapper > div{
    height: 200%;
}

.deal-wrapper > .information-column > p.side-text {
    font-style: italic;
    font-size: 14px;
}

.deal-wrapper > .information-column{
    padding: 5px;
    color: rgb(240, 219, 213);
    background-color: rgb(74, 149, 189);
}

.deal-wrapper > .deal-columns{
    padding: 5px;
    color: rgb(123, 88, 199);
    background-color: #84CEEB;
}

/*end of deal.jsp*/